services:
  chatwoot:
    build: .
    depends_on:
      - postgres
      - redis
    environment:
      - CW_ENABLE_ENTERPRISE=true
      - FEATURE_CAPTAIN=true
      - INSTALLATION_NAME=SyncroStrategy
      - CHATWOOT_HUB_URL=https://hub.syncrostrategy.com/
      - SECRET_KEY_BASE=$SERVICE_PASSWORD_CHATWOOT
      - FRONTEND_URL=$SERVICE_URL_CHATWOOT
      - REDIS_URL=redis://default@redis:6379
      - REDIS_PASSWORD=$SERVICE_PASSWORD_REDIS
      - POSTGRES_DATABASE=chatwoot
      - POSTGRES_HOST=postgres
      - POSTGRES_USERNAME=$SERVICE_USER_POSTGRES
      - POSTGRES_PASSWORD=$SERVICE_PASSWORD_POSTGRES
      - RAILS_ENV=production
      - NODE_ENV=production
      - INSTALLATION_ENV=docker
    entrypoint: docker/entrypoints/rails.sh
    command: 'sh -c "bundle exec rails db:chatwoot_prepare && bundle exec rails s -p 3000 -b 0.0.0.0"'
    volumes:
      - 'rails-data:/app/storage'

  sidekiq:
    build: .
    depends_on:
      - postgres
      - redis
    environment:
      - CW_ENABLE_ENTERPRISE=true
      - FEATURE_CAPTAIN=true
      - SECRET_KEY_BASE=$SERVICE_PASSWORD_CHATWOOT
      - REDIS_URL=redis://default@redis:6379
      - REDIS_PASSWORD=$SERVICE_PASSWORD_REDIS
      - POSTGRES_HOST=postgres
      - POSTGRES_PASSWORD=$SERVICE_PASSWORD_POSTGRES
      - RAILS_ENV=production
    command: ["bundle", "exec", "sidekiq", "-C", "config/sidekiq.yml"]
    volumes:
      - 'rails-data:/app/storage'

  postgres:
    image: 'pgvector/pgvector:pg12'
    volumes:
      - 'postgres-data:/var/lib/postgresql/data'
    environment:
      - POSTGRES_DB=chatwoot
      - POSTGRES_USER=$SERVICE_USER_POSTGRES
      - POSTGRES_PASSWORD=$SERVICE_PASSWORD_POSTGRES

  redis:
    image: 'redis:alpine'
    command: ["sh", "-c", "redis-server --requirepass \"$SERVICE_PASSWORD_REDIS\""]
    volumes:
      - 'redis-data:/data'

volumes:
  rails-data:
  postgres-data:
  redis-data:
